@{
    ViewData["Title"] = "Upload File";
    var currentPath = ViewBag.CurrentPath?.ToString() ?? "";
}

<h1>Upload File</h1>

<form asp-action="UploadFile" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">File</label>
        <input type="file" class="form-control-file" id="file" name="file" required />
        <input type="hidden" name="path" value="@currentPath" />
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
