@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the File System Manager</h1>
    <p class="lead">A simple file management system with a green-white theme.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/FileSystem" role="button">Manage Files</a>
</div>